{% extends 'base.html.twig' %}

{% block title %}SensorMeasurement{% endblock %}

{% block body %}
    <h1>SensorMeasurement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sensor_measurement.id }}</td>
            </tr>
            <tr>
                <th>Co_level</th>
                <td>{{ sensor_measurement.coLevel }}</td>
            </tr>
            <tr>
                <th>Reading_datetime</th>
                <td>{{ sensor_measurement.readingDatetime ? sensor_measurement.readingDatetime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Row_insertion_datetime</th>
                <td>{{ sensor_measurement.rowInsertionDatetime ? sensor_measurement.rowInsertionDatetime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sensor_measurement_index') }}">back to list</a>

    <a href="{{ path('sensor_measurement_edit', {'id': sensor_measurement.id}) }}">edit</a>

    {{ include('sensor_measurement/_delete_form.html.twig') }}
{% endblock %}
